## Lecture Notes - Join Tables by Columns ##

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings:**
- [Joining Tables by Columns](https://inferentialthinking.com/chapters/08/4/Joining_Tables_by_Columns.html)

In [1]:
# import modules to be used in this notebook

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

In [2]:
my_cones = Table().read_table("cones.csv")
my_cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [42]:
# Create a ratings table with columns of Category, Star and Price Change Fraction 
#   based on the values in Price Change Fraction column
#   some prices will be increased and some will be reduced  

categories = make_array("strawberry", "chocolate", "bubblegum")
stars = make_array(2.5, 3.5, 4.2)
price_changes = make_array(0.95, 1.05, 1.03)

ratings = Table().with_columns(
        "Category", categories,
        "Star", stars,
        "Price Change Fraction", price_changes
)

ratings

Category   | Star | Price Change Fraction
strawberry | 2.5  | 0.95
chocolate  | 3.5  | 1.05
bubblegum  | 4.2  | 1.03

In [43]:
# combine the cones and ratings table togather using tbl.join and
#   assign the combined table view to variable new_cones_tbl

new_cones_tbl = my_cones.join("Flavor", ratings, "Category")
new_cones_tbl

Flavor     | Color       | Price | Star | Price Change Fraction
bubblegum  | pink        | 4.75  | 4.2  | 1.03
chocolate  | light brown | 4.75  | 3.5  | 1.05
chocolate  | dark brown  | 5.25  | 3.5  | 1.05
chocolate  | dark brown  | 5.25  | 3.5  | 1.05
strawberry | pink        | 3.55  | 2.5  | 0.95
strawberry | pink        | 5.25  | 2.5  | 0.95

In [47]:
# create a function to compute the new prices for each flavor

def new_price(price, fraction):
    return price * fraction

# call the function to return an array of new prices and
#  assign the array to the variable updated_prices

updated_prices = new_price(new_cones_tbl.column("Price"), new_cones_tbl.column("Price Change Fraction"))

In [46]:
# append the updated_prices array to new_cones_tbl view

new_cones_tbl.with_columns("New Price", updated_prices)

Flavor     | Color       | Price | Star | Price Change Fraction | New Price
bubblegum  | pink        | 4.75  | 4.2  | 1.03                  | 4.8925
chocolate  | light brown | 4.75  | 3.5  | 1.05                  | 4.9875
chocolate  | dark brown  | 5.25  | 3.5  | 1.05                  | 5.5125
chocolate  | dark brown  | 5.25  | 3.5  | 1.05                  | 5.5125
strawberry | pink        | 3.55  | 2.5  | 0.95                  | 3.3725
strawberry | pink        | 5.25  | 2.5  | 0.95                  | 4.9875