# Team Homework 5: Iteration, Conditional and Simulation

Complete this problem set with your group (up to 4 students). You can either hand-write your work and submit a hard copy, or go to File -> Download as HTML to generate an HTML file, then either submit it online or as a hard copy. Each group only needs to submit one copy and will receive the same grade. 

This team problem set covers materials from Lecture 13: Conditional and Iteration and Lecture 14: Chance.

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings**: 

* [Tabular Thinking Guide](https://drive.google.com/file/d/13HaWu4rrjeowEOs6S_vaQGM3GremzXQ3/view?usp=sharing)
* [Applying Functions](https://www.inferentialthinking.com/chapters/08/1/Applying_a_Function_to_a_Column.html)
* [Conditionals](https://www.inferentialthinking.com/chapters/09/1/Conditional_Statements.html)
* [Iteration](https://www.inferentialthinking.com/chapters/09/2/Iteration.html)

In [ ]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

import warnings
warnings.simplefilter('ignore', FutureWarning)
warnings.filterwarnings("ignore")

### Reading and Writing Conditional Statements 

What does the following function do? Write a sentence below describing what the function’s inputs should be and what the function does. Hint: Try to run the function on a few different inputs and see what happens!

In [ ]:
def mystery_function(n1, n2): 
    if n2 - n1 > 0:
        return n2 - n1 
    elif n2 - n1 < 0:
        return n1 - n2 
    else:
        return 0

Define a function that takes in a student’s score on a scale from 0 to 100 and assigns a letter grade based on the following grade boundaries.

    Score	Letter Grade
    [0,60)	    F
    [60,69)	    D
    [70,79)	    C
    [80,89)	    B
    [90,100]    A

In [ ]:
def compute_letter_grade(score):
    ...

The % operator returns the remainder if you divide by a certain number. (e.g. 11%5=1) If a number n is odd, what will n%2 return?

Use a combination of iteration and conditionals to complete the `count_evens` function below so that it returns the number of even numbers in the array.

In [ ]:
def count_evens(n_array): 
    num_evens = 0
    for ... :
        if  ... : 
            ...
    return ...

### Simulate Coin tosses

Use `np.random.choice` to simulate the tossing of two dices by defining a function that rolls the two dices $n$ times.

In [ ]:
L = np.arange(1, 7)
def roll_dice(n):
    outcomes = make_array()    
    for i in np.arange(n):
        two_rolls = np.random.choice(L, 2)    
        outcomes = np.append(outcomes, int(sum(two_rolls)))
    return(outcomes)

Use your code to perform 1000 rolls of dice, and graph the histogram of the sum of two dice. You may want to use the  `Table().with_column` function to create the table first, then use the `hist` functions to create the histogram.

In [ ]:
outcomes = roll_dice(10000)
Table().with_column('sum of two dice', outcomes).hist(bins=np.arange(0.5,13))

Compute the proportion of the outcomes that are greater than 10.

If you continue to the roll the dice indefinitely, eventually how many percent of your outcomes will be greater than $10$? (you don't need to write any program for this question)

### Simulate a Game of Randomness

Suppose you are playing a game with your friend by rolling two dice. In each round, if the sum of face is more than 10, your friend pays you 8 dollars, otherwise, you pay her 1 dollar. Each game lasts 100 rounds. Simulate this game 1000 times and calculate the net winning for you at the end of the game.

In [ ]:
def dice_game(n):
    payout = 0
    outcomes = roll_dice(n)
    for i in outcomes:
        if i > 10:
            payout += 8
        else:
            payout += -1
    return(payout)
dice_game(10)

Simulate 1000 games, and plot the histogram of your net winning.

In [ ]:
outcomes = make_array()
for i in np.arange(1000):
    x = dice_game(10)
    outcomes = np.append(outcomes, x)
outcome_table = Table().with_column('Game Winning', outcomes)
outcome_table.hist()

Calculate the proportion of games in which you have a positive winning (greater than $0)

# Student Data - Applying Functions and Iteration

In a statistics class, Emma collected a dataset of students in Santa Rose. She knows you've been learning data science and asks you to help her understand the data. She has a list of quesions for you.

First you need to run the next cell to read in the data filse and display them in a table format.

The first file to read in a table is called `student_data.csv` which contains:

- SEX: student's gender
- COLOR: student's flavor color
- ZIP: zip code of student's residential address
- MATH: number of math assignments submitted
- PAPER: number of paper submitted for a writing class
- CAR: year of the car that the student drives
- SHOE: student's shose size
- AGE: years of age
- HEIGHT: student's height
- PETS: number of pets that the student keeps
- SOCIAL: whethe the student is active on social media

The second file to read in a table is called `color_ratings.csv` which contains:

- COLOR
- POPULAR: rating of the color

In [ ]:
# Run this cell read and show the tables

students = Table.read_table('student_data.csv')
color_ratings = Table.read_table('color_ratings.csv')
students.show(3)
color_ratings.show(3)

## Question 1

Emma continues using `student_data.csv` and `color_ratings.csv` in her statistics class. She wants to rename the column `POPULAR` to `RATING`.

Use Python to complete the next cell to combine students and color_ratings into one table `students_tbl`. Make sure rename the column `POPULAR` to `RATING`.

In [ ]:
students_tbl = ...


students_tbl.show(5)

## Question 2

Emma's flavor colors are red and purple, she wonders how many students have the same preference.

How many students have color rating on Red and Purple? 

Use Python to complete the next cell to answer the question.

_Type your code here, replacing this text._

## Question 3

Emma is curious about whether there is a feature in Python that allows for reusing the same code block for the same task.

You've just learned about functions in Python and wanted to show her how to do it.

Write a function called `sum_ages`.  It should take five arguments, where each argument represents an integer corresponding to a student's age. So the five arguments represent five students' ages. The function `sum_ages` should return a summation of the five arguments (students' ages).

You may take any five ages from the table `students_tbl`.

*Note: Don't overthink this question!*

*Hint: Look for AGE column in the table, pick the first 5 ages and use them for the function arguments.*

Use Python to complete the next cell to answer the question.

In [ ]:
def sum_ages(...):
    '''Returns the total age calculated by adding up the age of each students'''
    ...
    
    
    
    
_Call the function here, replacing this text._

## Question 4

Emma wants to know how well the students of submitting `MATH` and `PAPER` assignments. 

Create a new table `submitted_tbl` with four columns in this *specific* order: `SEX`, `MATH`, `PAPER`, `SUBMITTED`. You will have to create the `SUBMITTED` column. 

You also need to create a function called `sum_assignments`. It should take two arguments, where each argument represents an integer corresponding to a number of `MATH` assignments and a number of `PAPER` assignments submitted. It should return the total number of the assignments submitted.

*Hint:* If you want to apply a function that takes in multiple arguments, you can pass multiple column names as arguments in `tbl.apply()`. The column values will be passed into the corresponding arguments of the function. Take a look at the [Python Reference Sheet](http://data8.org/sp22/python-reference.html) and Lecture 13's demo for syntax.

Use Python to complete the next cell to answer the question.

In [ ]:
def sum_assignments(a1, a2):
    '''Returns the total number of the assignment submitted'''
    ...

    
    
...


submitted_tbl = ...


submitted_tbl.show()

## Question 5

Emma wants to see for a particular student whether or not reaches the drinking age which is 21. Write a function called `is_drinking_age`. It should take one argument: a row object from the `students_tbl` table. It should return either `True` if the student is 21 or older, and `False` otherwise.

### Use `tbl.row(n)` and `row.item("column_name")`
In Python, we can get specific row objects from a table. You can use `tbl.row(n)` to get the nth row of a table. `row.item("column_name")` will allow you to select the element that corresponds to `column_name` in a particular `row`.

*Note 1: "Row object" means a row from the table that contains all the data for that specific row. It is not the index of a row. Do not try and call `students_tbl.row(row)` inside of the function.*

*Note 2: If you're still confused by row objects, try printing out `students_tbl.row(1)` in a new cell to visually see what it looks like! This piece of code is pulling out the row object located at index 1 of the `students_tbl` table and returning it. When you display it in a cell, you'll see that it is not located within a table, but is instead a standalone row object!*

Here are examples. You may run the exercises in the next cells before answering the question.

In [ ]:
# Just run this cell
students_tbl.row(7)

In [ ]:
# Just run this cell
students_tbl.row(7).item("ZIP")

### Write a function called `is_drinking_age` 

`is_drinking_age` should take one argument: a row object from the `students_tbl` table. It should return either `True` if the student is 21 or older, and `False` otherwise.

Use Python to complete the next cell to answer the question.

In [ ]:
def is_drinking_age(row):
    ...
    

    

is_drinking_age(students_tbl.row(12)) #DO NOT CHANGE THIS LINE

## Question 6

Emma wants to see how many students are under the drinking age and how many students have already reached the drinking age. Using the `students_tbl` table:

1. Assign `who_can_drink` to an array of `True` and `False` values that correspond to whether or not the students are under the drinking age.
2. Add the `who_can_drink` array to the `students_tbl` table in a column named `DRINKING AGE`, and assign this to `tbl_with_drinking_age_col`.
3. Then, respectively assign the number of students under the drinking age and the number of students have reached the drinking age to `not_ok_to_drink` and `ok_to_drink`.

*Hint 1: `True` and `False` are **not** strings. What data type are they?*

*Hint 2: `tbl.num_rows` might be helpful too.*

*Hint 3: When you only pass a function name and no column labels through `tbl.apply()`, the function gets applied to every row in `tbl`.*

In [ ]:
who_can_drink = ...


tbl_with_drinking_age_col = ...


ok_to_drink = ...


not_ok_to_drink = ...



# Don't delete or edit the following line:
print(f"{not_ok_to_drink} students are under 21 and {ok_to_drink} students are 21 or over")