### Team Homework #2: Arrays and Tables
Complete this problem set with your group (up to 4 students). You can either hand-write your work and submit a hard copy, or go to File -> Download as HTML to generate an HTML file, then either submit it online or as a hard copy. Each group only needs to submit one copy and will receive the same grade.

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings:**
- [Arrays](https://inferentialthinking.com/chapters/05/1/Arrays.html)
- [What is Data Science?](http://www.inferentialthinking.com/chapters/01/what-is-data-science.html)
- [Causality and Experiments](http://www.inferentialthinking.com/chapters/02/causality-and-experiments.html) 
- [Programming in Python](http://www.inferentialthinking.com/chapters/03/programming-in-python.html)

In [ ]:
# Run this cell to set up the notebook, but please don't change it.

import numpy as np
from datascience import *
import warnings
warnings.simplefilter('ignore', FutureWarning)

The factorial function is defined as $n! = n(n-1)(n-2)\cdots 1$. You can access the factorial function in the same way that you access other functions under the math module. For example, the following code evaluates $4! = 4\cdot 3\cdot 2 \cdot 1 = 24$

```math.factorial(4)```

Use the following method to compute $e$:

$e = 1 + \frac{1}{1!} +  \frac{1}{2!} +  \frac{1}{3!} +  \frac{1}{4!} + \cdots $. 

Round the result by using the ```math.round(x, n)``` function. How many terms must be added in order to compute e accurate within the 10th decimal place?

The next few questions involve a table containing students taking Statistics or Data Science at SRJC this semester.

In [ ]:
from datascience import *
Table.read_table('student_data.csv')

Find how many students are included in this data set.

Answer the following questions based on the data and briefly explain your reasoning. 

Is it possible to find the average number of hours students spend on social network?

Is it possible to find the percentage of students who do not own any pets?

What is the meaning of ```nan``` under the column labeled â€œCAR"? Why do you think such values exist in the table?

Is it possible to find the average shoe size for the whole class?

Identify the number of male students in the table by using ```where```.

What is the oldest car driven by students in this data set? Answer the question by using ```sort```.

Find the height of the tallest women in the class.

Generate a new table containing only SEX and SOCIAL columns using ```select```.

Find the range of age of students in the data set. You can either use range = max - min, or do it by sorting.

From the table you obtained in the previous step, find the counts of data within the following table by using ```where```. You may need to use multiple lines, or a single line of code. (Note: later we will learn a more efficient way of doing this.) 

<p>&nbsp;</p>
<table style="width: 286px; height: 184px; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 105.625px;">&nbsp;</td>
<td style="width: 89.8438px;">Use Social Media&nbsp;</td>
<td style="width: 89.8646px;">Do not use Social Media&nbsp;</td>
</tr>
<tr>
<td style="width: 105.625px;">&nbsp;Female</td>
<td style="width: 89.8438px;">&nbsp;</td>
<td style="width: 89.8646px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 105.625px;">Male&nbsp;</td>
<td style="width: 89.8438px;">&nbsp;</td>
<td style="width: 89.8646px;">&nbsp;</td>
</tr>
</tbody>
</table>

# Arrays and Tables

### Question 1: Make an Array with Strings

Make an array called `candy_basket` for Emma's birthday party. The array `candy_basket` should contain the following items (in the given order):

1. snickers
2. peanut butter cups
3. kit kat
4. twix
5. dark chocolate bar

In [ ]:
# Use Python to complete the answer to the question in this cell.

candy_basket = ...
candy_basket

### Question 2: Combine Strings

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string.

Use the array combine all candies in `candy_basket` into a string with a colon (` : `) as a delimiter.

In [ ]:
# Use Python to complete the answer to the question in this cell.

colon_delimiter = ...
colon_delimiter

### Question 3: Make an Array with Numbers

Emma is going to have a lucky draw in her birthday party and making up a bunch of numbers. 

Make an array called `lucky_numbers` containing the following numbers (in the given order):

1. 101
2. square of 8
3. 3.1416
4. round up 2989.631416 to the nearest integer

In [ ]:
# Use Python to complete the answer to the question in this cell.

lucky_number = ...
lucky_number

### Question 4: Array Elements

#### i. Find the value of an element in an array

Make an array called `dessert_menu`. The array `dessert_menu` should contain the following items (in the given order):

1. apple pie
2. banana bread
3. cheesecake
4. dutch biscuit
5. english pudding

Set the `flavorite_dessert` to the 3rd element of `dessert_menu`.

In [ ]:
# Use Python to complete the answer to the question in this cell.

dessert_menu = ...

flavorite_dessert = ...
flavorite_dessert

#### ii. Add a new item to the end of an array

Add a new dessert `new york cheesecake` to the end of `dessert_menu` that you created previously.

*Hint: check out the Array Functions and Methods section on [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!*

In [ ]:
# Use Python to complete the answer to the question in this cell.

...

#### iii. What is the length of `dessert_menu`?

In [ ]:
# Use Python to complete the answer to the question in this cell.

...

#### iv. What is the last item in `dessert_menu`?

In [ ]:
# Use Python to complete the answer to the question in this cell.


...

#### v. Why doesn't `dessert_menu` contain `new york cheesecake`?

You have added `new york cheesecake` to the end of `dessert_meun`, but it doesn't show up in the menu.

Briefly explan your answer in the cell below.

_Type your answer here, replacing this text._

### Question 5: Make a table with arrays

Use Python to complete the cell below to create a table with 3 columns of `Invoice`, `Dessert` and `Quantity`.

Reminder: you have already made an array of `dessert_menu`.

*Hint: replace the `...` with your Python code.

In [ ]:
# Use Python to complete the answer to the question in this cell.

invoice_1 = 101
invoice_2 = 102
invoice_3 = 103
invoice_4 = 104
invoice_5 = 105

qty_1 = 5
qty_2 = 10
qty_3 = 3
qty_4 = 16
qty_5 = 38

dessert_orders_tbl = Table().with_columns(
    "Invoice", ...,
    "Dessert", ...,
    "Quantity", ...
)

dessert_orders_tbl

### Question 6: Make an Array from a Table Column

#### i. Make an array called `ages_array`

The cell below reads a table from `student_data.csv` and assigns it to `students_tbl`.

Use Python to complete the cell below to make an array called `ages_array` from the column of `AGE` in `students_tbl`.

*Hint: use tbl.column(...) method and check out the Array Functions and Methods section on [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!*

In [ ]:
# Use Python to complete the answer to the question in this cell.

students_tbl = Table.read_table('student_data.csv')
ages_array = ...
ages_array

#### ii. What is the eldest age in `ages_array`?

In [ ]:
# Use Python to complete the answer to the question in this cell.

...

#### ii. What is the youngest age in `ages_array`?

In [ ]:
# Use Python to complete the answer to the question in this cell.

...

#### ii. How many items are there in `ages_array`?

In [ ]:
# Use Python to complete the answer to the question in this cell.

...