### Team Homework #2: Tables
Complete this problem set with your group (up to 4 students). You can either hand-write your work and submit a hard copy, or go to File -> Download as HTML to generate an HTML file, then either submit it online or as a hard copy. Each group only needs to submit one copy and will receive the same grade.

The factorial function is defined as $n! = n(n-1)(n-2)\cdots 1$. You can access the factorial function in the same way that you access other functions under the math module. For example, the following code evaluates $4! = 4\cdot 3\cdot 2 \cdot 1 = 24$

```math.factorial(4)```

Use the following method to compute $e$:

$e = 1 + \frac{1}{1!} +  \frac{1}{2!} +  \frac{1}{3!} +  \frac{1}{4!} + \cdots $. 

Round the result by using the ```math.round(x, n)``` function. How many terms must be added in order to compute e accurate within the 10th decimal place?

The next few questions involve a table containing students taking Statistics or Data Science at SRJC this semester.

In [13]:
from datascience import *
Table.read_table('student_data.csv')

SEX    | COLOR  | ZIP   | MATH | PAPER | CAR  | SHOE | AGE  | HEIGHT | PETS | SOCIAL
Female | Blue   | 95403 | 3    | 2     | 2018 | 6.5  | 20   | 61     | 0    | Yes
Female | Other  | 95401 | 2    | 5     | 2007 | 6.5  | 26   | 61     | 1    | No
Female | Green  | 95492 | 1    | 3     | 1994 | 5.5  | 22   | 62     | 4    | Yes
Female | Black  | 95472 | 3    | 3     | nan  | 8    | 19   | 62     | 2    | Yes
Female | Purple | 95409 | 2    | 2     | 1990 | 7    | 19   | 63     | 3    | Yes
Female | Orange | 95407 | 4    | 3     | 2016 | 8.5  | 37   | 63     | 2    | Yes
Female | Blue   | 95401 | 5    | 4     | 2003 | 8    | 17   | 63     | 5    | Yes
Female | Blue   | 94928 | 3    | 3     | 2012 | 7.5  | 18   | 63     | 6    | Yes
Female | Purple | 95403 | 4    | 5     | nan  | 8.5  | 36   | 63     | 0    | No
Female | Red    | 95404 | 2    | 2     | 2011 | 7.5  | 20   | 64     | 7    | Yes
... (64 rows omitted)

Find how many students are included in this data set.

Answer the following questions based on the data and briefly explain your reasoning. 

Is it possible to find the average number of hours students spend on social network?

Is it possible to find the percentage of students who do not own any pets?

What is the meaning of ```nan``` under the column labeled â€œCAR"? Why do you think such values exist in the table?

Is it possible to find the average shoe size for the whole class?

Identify the number of male students in the table by using ```where```.

What is the oldest car driven by students in this data set? Answer the question by using ```sort```.

Find the height of the tallest women in the class.

Generate a new table containing only SEX and SOCIAL columns using ```select```.

Find the range of age of students in the data set. You can either use range = max - min, or do it by sorting.

From the table you obtained in the previous step, find the counts of data within the following table by using ```where```. You may need to use multiple lines, or a single line of code. (Note: later we will learn a more efficient way of doing this.) 

<p>&nbsp;</p>
<table style="width: 286px; height: 184px; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 105.625px;">&nbsp;</td>
<td style="width: 89.8438px;">Use Social Media&nbsp;</td>
<td style="width: 89.8646px;">Do not use Social Media&nbsp;</td>
</tr>
<tr>
<td style="width: 105.625px;">&nbsp;Female</td>
<td style="width: 89.8438px;">&nbsp;</td>
<td style="width: 89.8646px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 105.625px;">Male&nbsp;</td>
<td style="width: 89.8438px;">&nbsp;</td>
<td style="width: 89.8646px;">&nbsp;</td>
</tr>
</tbody>
</table>