## Lecture Notes - Data Types ##

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings:**
- [Arrays](https://inferentialthinking.com/chapters/05/1/Arrays.html)
- [What is Data Science?](http://www.inferentialthinking.com/chapters/01/what-is-data-science.html)
- [Programming in Python](http://www.inferentialthinking.com/chapters/03/programming-in-python.html)
- [Data Types](https://inferentialthinking.com/chapters/04/Data_Types.html)

## Numbers - Int and Float ##

We covered it last lecture.  We look at String and Array today.

## String ##

Python doesn't have a concept of charater that means Python treats a single charater as a string.

String is a text representation in programming.  In Python, a string is enclosed by a pair double quotation marks ("") or a pair of single quotation marks ('').

A combination of using "" and '' in a string could be tricky sometimes.

In [ ]:
# use double quote ""

"hiking, reading, eating"

In [ ]:
# use single quote ""

'hiking, reading, eating'

In [ ]:
# use variable 

myHobbies = "hiking, reading, eating"
myHobbies

### Error when using two pairs of double quotation marks in a string

In [ ]:
# Error: use double quote to enclose a double quoted conversation string

"Sally said: "Her big brother is Charlie Brown""

In [ ]:
# Error: use single quote to enclose a single quoted conversation string 

'Sally said: 'Her big brother is Charlie Brown''

### Solutions: combine double `""` and single quotation `''` marks in a string ###

In [ ]:
# solution 1: 
#   use single quote to enclose a double quoted conversation string

'Sally said: "Her big brother is Charlie Brown"'

In [ ]:
# solution 2: 
#   use double quote to enclose a single quoted conversation string

"Sally said: 'Her big brother is Charlie Brown'"

In [ ]:
# use double quote enclosure is better because we can have apostrophe in a string

"Snoopy won't reject cookies."

### Using Escape Character ( \ ) ###

Use `\` to have Python compiler to escape/ignore the character right after `\`.

Note: escape character `\` ignore only one character, not all characters after it.

In [ ]:
# with escape character `\`, 
#   we can use double quote to enclose double quoted conversation.

"Sally said: \"Her big brother is Charlie Brown\""

In [ ]:
# with escape character `\`, 
#   we can use single quote to enclose a string that contains an apostrophe.

'Snoop won\'t reject cookies.'

### String Concatenation ###

Combine multiple strings together.  

In Python, two strings can be concatenated by using a plus sign `+` or simply placing multiple strings right next to each with or without space.

In [ ]:
# using a plus sign (+) to concatenate strings
#   a string can contain spaces 
#   - if the string requires a space that should be explicitly added

"I like " + "apple, " + "cheeescake and " + "kiwi"

In [ ]:
# placing strings right next to each to concatenate strings

"I like " "apple, " "cheeescake and " "kiwi"

# no space between 2 strings, same as -
# "I like ""apple, ""cheeescake and ""kiwi"

In [ ]:
# Concatenation using plus sign (+) must be operated in one line
#   the following will produce errors

"I like " + 
"apple, " + "cheeescake and " + "kiwi"

In [ ]:
# without plus sign (+), it is treated as 2 different strings

"I like " 
"apple, " "cheeescake and " "kiwi"

In [ ]:
# concatenate a string variable and a constant string - needs plus sign (+)
#   the following will produce errors

subject = "I like "
subject "apple, " "cheeescake and " "kiwi"

# should be subject + " apple, " "cheeescake and " "kiwi"

In [ ]:
# concatenate string variables - needs plus sign (+)

subject = "I like "
something = "apple, " "cheeescake and " "kiwi"
subject + something

In [ ]:
# concatenation only applies to string to string
#   the following will produce errors

subject = "I like "
luckyNumber = 7       # should be luckyNumber = "7"
subject + luckyNumber

In [ ]:
# produces errors

"I like " + 7

### String Comparison ###

In Python, comparison operators (logical operators) are used for comparing strings.

<, >, <=, >=, == and !=

Uppercase characters have lower values than lowercase characters in programming.  That means "A" is smaller than "a" when they are compared using comparison operators.

In [ ]:
# Who is bigger? "Charlie Brown" or "Sally Brown"?

"Charlie Brown" > "Sally Brown"

In [ ]:
# Is "Charlie Brown" same as "charlie brown"?

"Charlie Brown" == "charlie brown"

In [ ]:
"Charlie Brown" > "charlie brown"

In [ ]:
"Sally Brown" != "sally brown"

In [ ]:
# How about a number and a number in a string?

68.16 == "68.16"

In [ ]:
# How about the value of a float number and 
#   an integer number?

68.0 == 68

In [ ]:
# How about the data type of a number with a decimal point  
#   and a number without a decimal point?

type(68.0) == type(68)

In [ ]:
type(68.0)

In [ ]:
type(68)

### String and Numeric Value Conversion

In [ ]:
# Convert an integer string to an integer value

int("68")

In [ ]:
# Convert a float string to a float value

float("68.0")

In [ ]:
# Convert a float value to a float string

str(68.0)

In [ ]:
# Convert an integer value to an integer string

str(68)

In [ ]:
# Convert a float value to an integer value
#   the decimal point and places are truncated

int(68.75)

In [ ]:
# Convert an integer value to a float value
#   .0 is appended to the integer value

float(68)

In [ ]:
# Convert an integer string to a float value
#   .0 is appended to the integer value

float("68")

In [ ]:
# Error when convert a float string to an integer value
#   because int() function expects an integer string or a float value, 
#   but not a float string.

int("68.75")

In [ ]:
# If a float string is given to be converted to an integer value,
#   we need to convert it to float value first then to an integer value,
#   the decimal point and places are truncated.

int(float("68.75"))

In [ ]:
# Taking an example from the UC Berkeley video

x = 3
y = '4'
z = '5.6'

In [ ]:
# Error: plus sign (+) is either for adding two numeric numbers or
#        concatenating two strings.
#        cannot add or concatenate a numeric value and a string

x + y

In [ ]:
# Error when convert a float string to an integer value
#   because int() function expects an integer string or a float value, 
#   but not a float string.

x = 3
y = '4'
z = '5.6'

x + int(y + z)

In [ ]:
# If a float string is given to be converted to an integer value,
#   we need to convert it to a float value first then to an integer value,
#   the decimal point and places are truncated.

x = 3
y = '4'
z = '5.6'

x + int(float(y + z))

In [ ]:
# Error: plus sign (+) is either for adding two numeric numbers or
#        concatenating two strings.
#        cannot add or concatenate a numeric number and a string

x = 3
y = '4'
z = '5.6'

str(x) + int(y)

In [ ]:
x = 3
y = '4'
z = '5.6'

y + float(z)

# side note: no need to repeat the assignment statements for x, y, z
#            just for demonstration purposes

## Arrays ##

Array is a data structure that can store multiple values in a variable (name).  Those values in the array usually have the same data type.

To use arrays, we need to import `datascience` library/module/package. We also need a package called `numpy`.

We use `make_array` method to create an array.

In [ ]:
# Create an array with a bunch of names (string) and assign it to a variable call roster

from datascience import *
import numpy as np

roster = make_array("Charlie", "Lucy", "Snoopy", "Sally")
roster

In [ ]:
# Create an array of numbers
#   if all elements in the array are integer values, 
#   the data type of all the elements is integer

score = make_array(78, 88, 100)
score

In [ ]:
# if all elements in the array are float values, 
#   the data type of all the elements is float

score = make_array(78.2, 88.2, 100.2)
score

In [ ]:
# if the values of the elements are mixed of integer and float, 
#   the data type of all the elements is float

score = make_array(78, 88, 100.2)
score

### Perform Arithmetics on Array ###

In [ ]:
# Multiple array element by 2

score * 2

### Combine String Elements in an Array with Delimiter ###

Use a string method call `join`.

In [ ]:
# Combine the roster array with --

dash_delimiter = " <--> ".join(roster)
dash_delimiter

### Indexing Arrays ###

#### `array.item(index)` ####

To access the elements in an array, we use an array method `array.item(index)` where index is the position of an array element.  We typically count the elements from 0.  So the first element position is 0, and the second element position is 1, etc.

In [ ]:
# How to access snoopy in this array?

roster = make_array("Charlie", "Lucy", "Snoopy", "Sally")
roster.item(2)

In [ ]:
# Who is the last one in the roster?

roster.item(3)

### Array Size ###

`len()` returns the number of elements in an array.

In [ ]:
len(roster)

### Use `len()` to reference the last element of any array ###

If we want to reference the last element in an array, we substract 1 from the return value of `len()`.

In [ ]:
roster.item(len(roster) - 1)

### Adding an Element to the End of an Array ###

#### `np.append(array, item)` ####

We make use of `numpy` method to add an element to the end of any array.

In [ ]:
import numpy as np
np.append(roster, "Bella")

In [ ]:
# How many people in the roster?

len(roster)

In [ ]:
# Why not 5?  We appended 'Bella' to the end of the roster array.
#   Because array operations will not change the original contents of an array.

roster

In [ ]:
# Add 'Bella' to the end of the roster array and
#   assign the roster array to new_roster variable/name

new_roster = np.append(roster, "Bella")
new_roster

In [ ]:
len(new_roster)

### Making an Array from a Table Column ##

Each column in a table is an array.  We can use table column method to retrieve a column - tbl.column(column_name)

Steps:
1. Read a data file to a table format
2. Assign the table to a variable / name
3. Use table column method `tbl.column()` to create an array by retrieving a column from the table
4. Assign the retrieved column to a variable / name

In [ ]:
# Step 1 & 2:
student_tbl = Table.read_table('student_data.csv')

# Step 3 & 4:
height_col = student_tbl.column("HEIGHT")

# disply the array
height_col

In [ ]:
height_col + 5

In [ ]:
max(height_col)

In [ ]:
min(height_col)

In [ ]:
np.average(height_col)

In [ ]:
len(height_col)