## Lecture Notes - Build Tables ##

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings:**
- [Tables](https://inferentialthinking.com/chapters/06/Tables.html)
- [Arrays](https://inferentialthinking.com/chapters/05/1/Arrays.html)
- [Programming in Python](http://www.inferentialthinking.com/chapters/03/programming-in-python.html)
- [Data Types](https://inferentialthinking.com/chapters/04/Data_Types.html)

## Building a Table ##

Two ways to build a table:

1. Read from a data file (we covered it last lecture)
2. Create a table from scratch - by making arrays for table columns `make_array()`

### Reading a Table from a Data File (Recap) ###

Python reference for CS88
1. import `datascience` module
2. Read a data file to a table format

In [ ]:
from datascience import *
Table.read_table("spotify.csv")

### View the Table Column Names `tbl.labels` ###

`tbl.labels` output the column names

The data file may have too many columns to be shown all in one screen.  We can print out only column names without the data, and decide what columns to use for analysis.

Then, we can use `tbl.select()` to select or use `tbl.drop()` to remove certain columns fromt the table and assign it to a new table variable.

In [ ]:
# We want to view only the column label

# Option 1: chain methods in one line
Table.read_table("spotify.csv").labels

# Option 2: use variables / names
#raw_spotify = Table.read_table("spotify.csv")
#raw_spotify.labels

In [ ]:
# We want to look at only the Spotify data
#   use `tbl.select()` to select the columns we need and
#   assign the table view to a variable.

# We can also use `tbl.drop()` to remove the columns we don't need,
#   but there are more columns to remove than to select,
#   so `tbl.select()` is more effective in the case.

raw_spotify = Table.read_table("spotify.csv")

spotify = raw_spotify.select("Track", "Album Name", "Artist", "Release Date", "Spotify Streams", "Spotify Playlist Count", "Spotify Playlist Reach", "Spotify Popularity")

### `tbl.relabeled()` ###

Rename the column names

In [ ]:
spotify.relabeled("Spotify Streams", "Streams")

### Chain Method Calls ###

`tbl.relabeled()` allows to rename only one column at a time, so we need to chain the `relabeled()` to rename multiple columns at once.

In [ ]:
# We focus on Spotify data, then we probably don't need to repeat 
#   the word 'Spotify' in the column names.
# Use `tbl.relabeled()` to rename the columns

renamed_spotify = spotify.relabeled("Spotify Streams", "Streams").relabeled("Spotify Playlist Count", "Count").relabeled("Spotify Playlist Reach", "Reach").relabeled("Spotify Popularity", "Popularity")
#renamed_spotify

#### Chain Method Calls in Multiple Lines ####

Method chaining could be very long. To make it easy to read, we can break it down into multiple lines.

##### Option 1: #####

Enclosing the chaining in a parentheses `()`.

##### Option 2: #####

Appending a backslash `\` at the end a line.

In [ ]:
# using parentheses '()'

(spotify.relabeled("Spotify Streams", "Streams")
                   .relabeled("Spotify Playlist Count", "Count")
                   .relabeled("Spotify Playlist Reach", "Reach")
                   .relabeled("Spotify Popularity", "Popularity"))

# or

#renamed_spotify = (spotify.relabeled("Spotify Streams", "Streams")
#                   .relabeled("Spotify Playlist Count", "Count")
#                   .relabeled("Spotify Playlist Reach", "Reach")
#                   .relabeled("Spotify Popularity", "Popularity"))
#renamed_spotify

In [ ]:
# using backslash '\'
spotify.relabeled("Spotify Streams", "Streams") \
                   .relabeled("Spotify Playlist Count", "Count") \
                   .relabeled("Spotify Playlist Reach", "Reach") \
                   .relabeled("Spotify Popularity", "Popularity")

Now we have set up a reasonable clean table to operate.  We can use `tbl.drop()`, `tbl.sort()`, `tbl.show()`, `tbl.where()` and `tbl.select()`, etc to operate the table.

### Example 1 ###

Search for the artist Taylor Swift. 

When we are not sure the format of the artist's name stored in the data file, we can use a predictor in `tbl.where()`, e.g. `are.containing()`

In [ ]:
# Remember: names and data in Python are case-sensitive.
#           using predictors could be effective.

# not exist
taylor = renamed_spotify.where("Artist", are.containing("taylor"))
# not exist
#taylor = renamed_spotify.where("Artist", are.containing("swift"))

# part of the artist's name
#taylor = renamed_spotify.where("Artist", are.containing("Taylor"))

# part of the artist's name
taylor = renamed_spotify.where("Artist", are.containing("Swift"))

taylor

#### Check the Max and Min Popularity ####

Steps:

1. Use table column method `tbl.column()` to create an array by retrieving a column from the table
2. Use `max()` and `min()` to find the maxiumn and miniium values in the array

In [ ]:
# Step 1: create an array from a table column

taylor.column("Popularity")

# or

#taylor_pop = taylor.column("Popularity")
#taylor_pop

In [ ]:
# Step 2: find the maxiumn and miniium values in the array

max_value = max(taylor.column("Popularity"))

min_value = min(taylor.column("Popularity"))

# or

#max_value = max(taylor_pop)
#min_value = min(taylor_pop)

max_value, min_value

In [ ]:
# Create an array that contains Taylor Swiff's tracks which 
#.   were release in 2012

(taylor.where("Release Date", are.containing("2012"))
         .column("Track"))

# or

#taylor.where("Release Date", are.containing("2012")) \
#      .column("Track")

In [ ]:
#taylor.column("Track")
#make_array('I Knew You Were Trouble.', 'We Are Never Ever Getting Back Together')

In [ ]:
make_array('I Knew You Were Trouble.', 'We Are Never Ever Getting Back Together')

In [ ]:
# Create a table view that contains Taylor Swift's tracks, album name and
#    release data, and the albums were release on 2012

(taylor.where("Release Date", are.containing("2012"))
       .select("Track", "Album Name", "Release Date"))

# or 

#taylor.where("Release Date", are.containing("2012")) \
#       .select("Track", "Album Name", "Release Date")

### Create a Table from Scratch `make_array() ` ###

Let's create a table of 3 columns, and the columun names are `Student`, `Score` and `Grade`

Steps:
1. Create an array that contains 3 names and assign it to a variable `name_array`
2. Create an array that contains 3 numbers that represent score value and assign it to a variable `score_array`
3. Create an array that contains 3 grade letters and assign it a variable `grade_array`
4. Use `tbl.with_columns()` method to create a table with 3 columns, namely `STUDENT`, `SCORE` and `GRADE`, then assign the table to a variable `grade_book`

In [ ]:
# Step 1, 2 & 3:

name_array = make_array("Snoopy", "Lucy", "Sally")
score_array = make_array(78, 90, 82)
grade_array = make_array("C", "A", "B")

In [ ]:
# Step 4:

grade_book = Table().with_columns(
        "STUDENT", name_array,
        "SCORE", score_array,
        "GRADE", grade_array)

grade_book

In [ ]:
# Option 2:

grade_book = Table().with_columns(
        "STUDENT", make_array("Snoopy", "Lucy", "Sally"),
        "SCORE", make_array(78, 90, 82),
        "GRADE", make_array("C", "A", "B"))

grade_book

In [ ]:
# Get a column from the table

grade_book.column("SCORE")

In [ ]:
grade_book.num_rows